<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UiBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UiBot.Properties.Settings>
            <setting name="IsGooseEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ChannelName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsWiggleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsKeyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDropEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTurnEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPopEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isBitEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isNormalCommandsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutoMessageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSendTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="isAutoTraderEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTraderPraporEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderTherapistEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderPeacekeeperEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderMechanicEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderSkierEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderRagmanEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderFenceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderJaegerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTraderLightkeeperEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTwitchTradersEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keyToSend" serializeAs="String">
                <value />
            </setting>
            <setting name="isGrenadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </UiBot.Properties.Settings>
    </userSettings>
</configuration>